html {
  background-color: #F3DEBA;
}

.main{
  max-width: 1100px;
  margin: 0 auto;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 60;
  padding: 30;
  z-index: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

.card {
  background-color: #675D50;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-top: 60px;
  
}

.card_content {
  padding: 1rem;
  background: #675D50;
}

.card_title {
  color: #F3DEBA;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
}

/* RESPONSIVE */
@media (max-width: 650px) {
  /*NAVBAR*/
  .menu-toggle {
      display: block;
  }
}

/* CARD */
@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}